<form [formGroup]="coreService.coreForm" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="name">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="path" matInput placeholder="Path">
        </mat-form-field>
      </div>
      <div class="controles-container" formArrayName="keys">
        <mat-grid-list cols='2' rowHeight='100px'>
          <mat-grid-tile  [colspan]='1' [rowspan]='1'>Keys</mat-grid-tile>
          <mat-grid-tile  [colspan]='1' [rowspan]='1'>
            <button mat-raised-button color="primary"
                (click)="coreService.addKey()">Add Key</button> 
          </mat-grid-tile>
          <div *ngFor="let key of coreService.keys.controls; let i=index">
            <mat-grid-tile  [colspan]='1' [rowspan]='1'>id: {{i}}</mat-grid-tile>
            <mat-grid-tile  [colspan]='1' [rowspan]='1'>
              <mat-form-field>
                <input matInput type="text" [formControlName]="i">
              </mat-form-field>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn">Clear</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
