<div class="pagination" *ngIf="count > 0">
	<div class="description">
		<span class="page-totals">{{ totalPages() }} pages total</span>
	</div>
	<div class="numbers">
		<button mat-raised-button color="primary" class="link" (click)="onPrev()" [disabled]="page === 1" [ngClass]="{ 'disabled': page === 1}">&lt; Previous</button>
		
		<button mat-raised-button color="primary"
			*ngFor="let pageNum of getPages()"
			(click)="onPage(pageNum)"
			[ngClass]="{'active': pageNum === page}">{{ pageNum }}</button>
		<button mat-raised-button color="primary" class="link" (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage()}">Next &gt;</button>
	</div>
</div>